*{
  margin:0;
  padding:0;
}
.constainer{
  position: relative;
}
.bgUserCenter{
  background: url('../asset/bg-userCenter.jpg') no-repeat;
  background-size: 100% 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userImg{
  height: 236px;
}
.companyManage{
  position: absolute;
  top:32px;
  right:20px;
  width:154px;
  height:46px;
  border-radius:3px;
  font-size:22px;
  line-height: 46px;
  text-align: center;
  color:#fff;
  background-color:#d03534;

}
.panel{
  margin-top: 16px;
  font-size: 30px;
  background-color: #fff;
}
.panel>div{
  height: 74px;
  line-height: 74px;
  border-bottom: 1px solid #ccc;
}
.panel>div>span{
  display: inline-block;
  width: 225px;
  margin-right: 44px;
  text-align: right;
}
.pen{
  background: url('../asset/edit.png') no-repeat right 30px center;
  background-size: 25px;
}
.arrow{
  background: url('../asset/arraw.png') no-repeat right 30px center;
  background-size: 25px;
}
.infoPanel{
  margin-top: 20px;
  padding: 24px 32px;
  background: #fff;
  margin-bottom:110px;
}
.infoTitle{
  font-size: 24px;
}
.infoText{
  font-size: 20px;
  margin-top: 20px; 
}
.name{
  border:none;
  width:360px;
}
.editBtn {
  color: #fff;
  font-size: 36px;
  height: 84px;
  line-height: 84px;
  text-align: center;
  background-color: #0eb668;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.list{
  
  max-height:320px;
  margin-left:250px;
  margin-right:80px;
  overflow: auto;
  font-size:20px;
  color:#000;
  background:#f7f7f7;

  
}
.li{
  width:415px;
  height:60px;
  line-height: 60px;
  text-indent: 30px;
  list-style:none;
  cursor: pointer;
  border-bottom:1px solid #f1f1f1;
}
